body,html{
    background-image: url(background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    display: grid;
    grid-template-rows: 10% 10% 80%;
    grid-template-columns: 70% 5% 25%;
}

.btn{
    border-radius: 13px;
    border: rgb(12, 103, 201) 1px groove;
    color:rgb(177, 177, 177);
    background:rgba(0, 0, 0, 0.5);
    margin-right:5px;
    margin-left: 5px;
    padding:8px 16px;
    font-size:12px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    transition: 0.4s;

  }

  .btn:hover{
    border:none;
    box-shadow: 0px 0px 3px #ffba08 inset,
    0px 0px 3px #f346dc;
    background:rgba(0, 0, 0, 0.4);
    padding:12px 20px; 
    color:white;
    transition: 0.4s;
    cursor: pointer;
  }

  @media (max-width:768px){
    #left_side{
        display: none;
    }
    #header_main{
        display: flex;
        justify-content: center;
    }
    .subcontent{
      grid-column: 1/4;
      width: 100%;
      height: 100%;
    }

    .dece{
      font-size: 40%;
  }
  .sect_h1{
    font-size: 40%;
    padding: 0% 35% 3% 5%;
}

    .reclama{
      display: none;
    }
}
